@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

#siteWrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

#innerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}

.imageStyle {
  display: flex;
  margin: 10px;
  width: 23%;
  height: 23%;
}

.imageStyle:hover {
  box-shadow: 7px 7px 0px #283277;
}

.innerImage {
  display: flex;
  width: 100%;
  height: 100%;
}

#navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: start;
}

.nav-item {
  margin: 10px;
  text-decoration: none;
  color: #53168b;
  font-size: 20px;
  text-align: center;
}

.bodyWithHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.embeddedObservable {
  width: 100%;
}
